{{ define "title" }}Tg History Dumper exported data{{ end }}
{{ define "header" }}{{ .ChatTitle }}{{ end }}

{{ define "messageBody" }}
    {{ range .__Files }}
        <div class="media_wrap clearfix">
            {{ if or $.Media.Photo $.Media.ExtendedMedia }}
                <a class="photo_wrap clearfix pull_left" href="{{.FullWebPath}}">
                    <img class="photo" src="{{.FullWebPath}}" style="max-width: 260px; max-height: 260px;">
                </a>
            {{ else }}
                <a class="media clearfix pull_left block_link media_file" href="{{.FullWebPath}}">
                    <div class="fill pull_left">

                    </div>

                    <div class="body">
                        <div class="title bold">
                            {{ .Name }}
                        </div>

                        <div class="status details">
                            {{ .Size | humanizeSize }}
                        </div>
                    </div>
                </a>
            {{ end }}
        </div>
    {{ end }}

    {{ if .__MessageParts }}
    <div class="text">
        {{ range .__MessageParts }}{{ . }}{{ end }}
    </div>
    {{ end }}
{{ end }}

{{ define "content" }}
<div class="page_body chat_page">
    <div class="history">
        <div class="pagination-range">
            {{ if and (not .HasPrev) (not .HasNext) }}
                Displaying all {{ len .Messages }} {{ pluralize (len .Messages) "message" "messages" }}.
            {{ else }}
                Displaying messages {{ add .From 1 }}–{{ add .From (len .Messages) }} of ~{{ .MessagesCountApprox }} total.
            {{ end }}
        </div>

        {{ if .HasPrev }}
            <a class="pagination block_link" href="/chats/{{ .ChatID }}?from={{ .Prev }}&limit={{ .Limit }}">
                Previous messages
            </a>
        {{ end }}
        {{ range .Messages }}
            <div class="message {{if .__ServiceMessage}}service{{else}}default{{end}} clearfix" id="">
                {{ if .__ServiceMessage }}
                <div class="body">
                    <div class="pull_right date details" title="">
                        {{ .Date | formatDate }}
                    </div>

                    <div class="text">
                        <span class="bubble">{{ .__ServiceMessage }}</span>
                    </div>
                </div>
                {{ else }}
                <div class="pull_left userpic_wrap">
                    <div class="userpic {{ if .Out }}userpic_default_out{{ else }}userpic_default{{ end }}" style="width: 42px; height: 42px">
                        <div class="initials" style="line-height: 42px">
                            {{ firstLetters .__FromFirstName .__FromLastName }}
                        </div>
                    </div>
                </div>

                <div class="body">
                    <div class="pull_right date details" title="">
                        {{ .Date | formatDate }}
                    </div>

                    <div class="from_name">
                        {{ .__FromFirstName }} {{ .__FromLastName }}
                    </div>

                    {{ if .FwdFrom }}
                        <div class="pull_left forwarded userpic_wrap">
                            <div class="userpic userpic_default_out" style="width: 42px; height: 42px">

                                <div class="initials" style="line-height: 42px">
                                    {{ if or .__FwdFromFirstName .__FwdFromLastName }}
                                        {{ firstLetters .__FwdFromFirstName .__FwdFromLastName }}
                                    {{ else if .FwdFrom.FromName }}
                                        {{ .FwdFrom.FromName | firstLetters ""}}
                                    {{ end }}
                                </div>
                            </div>
                        </div>

                        <div class="forwarded body">
                            <div class="from_name">
                                {{ if or .__FwdFromFirstName .__FwdFromLastName }}
                                    {{ .__FwdFromFirstName }} {{ .__FwdFromLastName }}
                                {{ else }}
                                    {{ .FwdFrom.FromName}}
                                {{ end }}
                                <span class="date details" title="">{{ .FwdFrom.Date | formatDate }}</span>
                            </div>

                            {{ template "messageBody" . }}
                        </div>
                    {{ else }}
                        {{ template "messageBody" . }}
                    {{ end }}
                </div>
                {{ end }}
            </div>
        {{ else }}
            No messages
        {{ end }}

        {{ if .HasNext }}
        <a class="pagination block_link" href="/chats/{{ .ChatID }}?from={{ .Next }}&limit={{ .Limit }}">
            Next messages
        </a>
        {{ end }}
</div>
{{ end }}

{{ template "layout.html" . }}