<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{ block "title" . }}{{ end }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="page_wrap">
    <div class="page_header">
        <div class="content">
            <div class="text bold">
                {{ block "header" . }}{{ end }}
            </div>
        </div>
    </div>

    {{ block "content" . }}{{ end }}
</div>

</body>
</html>
